@page "/resourceoverview"

<div class="pt-4">

    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>ResourceName</th>
                <th>ResourceType</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in ResourceList)
            {
                <tr key="@resource">
                    <td>@resource.ResourceName</td>
                    <td>@resource.ResourceType</td>
                </tr>
            }

        </tbody>
    </table>
</div>